@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

:root {
  --bg-color: #c9c5cb;
  --bg-color-hover: #a4a1a5;
  --bg-color-components: #414066;
  --font-white-color: #ffffff;
  --font-black-color: #1e1e1e;
  --shadow: rgba(30, 30, 30, 0.3);
  --border: 0.5vw;
  --font-style: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
}

#inputComponente {
  background-color: var(--bg-color-components);
  width: 31vw;
  height: 100vh;
  padding: 2vw 3vw;
  color: var(--font-white-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}
label {
  display: block;
}
input,
#imagemLabel {
  background-color: var(--bg-color);
  padding: 0.5vw;
  border-radius: var(--border);
  box-shadow: 0.3vw 0.3vw var(--shadow);
}
input {
  width: 100%;
  border-style: none;
  font-size: 1.25vw;
}
#imagemLabel {
  color: var(--font-black-color);
  width: fit-content;
}
#imagemLabel:hover {
  cursor: pointer;
  background-color: var(--bg-color-hover);
}
#inputImagem {
  display: none;
}
.tituloInputComponente {
  font-size: 2.5vw;
  font-weight: 600;
}
.inputLabel {
  font-size: 1.7vw;
  font-weight: 600;
}

#bussinesCard {
  display: none;
}
